body {
    background-color: white;
}

ul {
    list-style: none;
}

ul p {
    color: white;
}

img {
    display:block;
    margin:auto;
    height: 200px;
}

nav.level {
    background: navy;
}

nav.level ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.level ul {
    content: "";
    display: table;
    clear: both;
}

nav.level a {
    text-decoration: none;
    display: block;
}

.topmenu > li {
    float: left;
    position: relative;
}

.topmenu > li > a {
    padding: 20px 30px;
    color: #fff;
}

.topmenu > li > a.active {
    color: #fff;
}

.topmenu a:hover {
    color: #fff;
    background-color: blue;
}

.submenu {
    position: absolute;
    min-width: 217px;
    background: navy;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
}

.submenu li {
    position: relative;
}

.submenu li a {
    color: #fff;
    padding: 15px 20px;
    font-size: 15px;
}

.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
}

nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
}

.main_container {
    display: flex;
}

.sidemenu {
    padding: 200px 0px;
    block-size: auto;
    width: fit-content;
}

.sidemenu ul {
    background-color: navy;
    padding: 0.5em;
}

.sidemenu a {
    display: block;
    padding: 1em;
    margin: 0.5em;
    background-color: navy;
    color: white;
}

.sidemenu a:hover {
    background-color: blue;
}

.maintext {
    margin: 0% 5%;
    padding: 2em 2em;
    background-color: burlywood;
    font-size: 30px;
    color: white;
}

.links {
    display: flex;
    margin-top: 200px;
    text-align: center;
    flex-direction: column;
}

.links a {
    color: black;
    margin: 15px;
}

footer {
    text-align: center;
    margin: 5px 5%;
}

input {
    padding: 2.5em;
    width: 10%;
}

.second_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background: navy;
    color: white;
    padding: 2em 4em;
    width: 70%;
    margin: 5em auto;
    font-size: 30px;
}

.music {
    margin-top: 5em;
}